table,th,td {
    border: 1px solid   black;
    border-collapse: collapse;
    text-align: left;
    padding: 12px;

}

body {
            font-family: Arial, sans-serif;
            background-color: #cad2c5;
            margin: 0;
            padding: 0;
            align-items: center;
            
        }        
th {
    background-color: #84a98c;
    }    
h2 {
    color: #cad2c5;
}    
h1 {
    color: #84a98c;
    text-align: center;
}
#productos h2 {
    background-color: #354f52;
    text-align: left;
}
#titulo h1 {
    background-color: #52796f;
     padding: 10px; 
}
p{
    text-align: center;
    padding: 10px; 
}
br{
     padding: 20px; 

}