table,th,td {
    border: 1px solid   black;
    border-collapse: collapse;
    text-align: left;
    padding: 12px;

}

body {
            font-family: Arial, sans-serif;
            background-color: #cad2c5;
            margin: 0;
            padding: 0;
            align-items: center;
            
        }    
th {
    background-color: #84a98c;
    }    
h2 {
    color: #cad2c5;
}    
h1 {
    color: #84a98c;
    text-align: center;
}

        #imageContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding: 20px;
        }
        #imageContainer img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
        }
        #imageContainer img:hover {
            transform: scale(1.1);
        }      
#productos h2 {
    background-color: #354f52;
    text-align: left;
}
#titulo h1 {
    background-color: #52796f;
     padding: 10px; 
}

br{
     padding: 20px; 

}